---
layout: page
title: People
permalink: /members/
---

<div class="container-fluid page-layout">
  <div class="row">

    <!-- Optional sidebar -->
    <aside class="col-xl-2 d-none d-xl-block">
      <!-- Future sidebar content -->
    </aside>

    <!-- Main content -->
    <main class="col-12 col-xl-8 page-main">

<h1>Our People</h1>

<p>
Our group welcomes people from all backgrounds who are driven by curiosity, enthusiasm for science, and a commitment to sustainability. We value diversity, collaboration, and scientific rigour, and strive to create a supportive environment where all members can grow, contribute, and thrive.
</p>

{% assign sorted_members = site.members | sort: 'startdate' %}

{% assign groups = "Principal Investigator(s),Researchers & Scholars,Staff & Technical Experts,Interns & Trainees,Alumni" | split: "," %}

{% for group in groups %}
  <h2>{{ group }}</h2>
  
  {% assign group_members = sorted_members | where: "group", group %}
  
  {% if group_members == empty %}
    <p><em>No current members in this category.</em></p>
  {% endif %}

  <div class="member-group">
    {% for member in group_members %}
      {% include member_card.html member=member %}
    {% endfor %}
  </div>
{% endfor %}


    <!-- Optional right sidebar -->
    <aside class="col-xl-2 d-none d-xl-block">
      <!-- Future sidebar -->
    </aside>

  </div>
</div>
