---
title: Publications
layout: default
group: publications
permalink: /publications/
---

<div class="container-fluid page-layout">
  <div class="row">

    <!-- Optional sidebar -->
    <aside class="col-xl-2 d-none d-xl-block">
      <!-- Future sidebar content -->
    </aside>

    <!-- Main content -->
    <main class="col-12 col-xl-8 page-main">

      <h1>Publications</h1>

      {% if site.author.googlescholar %}
        <div class="mb-4 mt-2 wordwrap">
          An overview of our articles can be also found on
          <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.
        </div>
      {% endif %}

      {% assign sorted = site.publications | sort: "pub_date" | reverse %}
      {% for publication in sorted %}
        <hr>
        <div class="row" style="padding-top: 60px; margin-top: -60px;" id="{{publication.pmid}}">
          <div>
            <h2>{{ publication.title | markdownify | remove: '<p>' | remove: '</p>' }}</h2>
            <p class="pub-authors">{{ publication.authors | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% if publication.journal %}
              <p class="journal-info">
                <i>{{ publication.journal }},</i> {{publication.pub_date | split: "-" | first }}
              </p>
            {% else %}
              {% if publication.biorxiv %}
                <i>Biorxiv,</i> {{publication.pub_date | split: "-" | first }}
              {% elsif publication.biorxiv_version %}
                <i>Biorxiv,</i> {{publication.pub_date | split: "-" | first }} <i>Preprint</i>
              {% endif %}
            {% endif %}
          </div>
        </div>

        <!-- Two-column layout for image and excerpt -->
        <div class="row align-items-start mb-3">
          <div class="col-md-5 col-12 mb-3 mb-md-0">
            {% if publication.image %}
              <img class="img-fluid" src="{{publication.image}}" alt="Key Figure" style="max-height: 200px;">
            {% endif %}
          </div>
          <div class="col-md-7 col-12">
            {% if publication.excerpt %}
              <p class="pub-excerpt">{{ publication.excerpt }}</p>
            {% endif %}
          </div>
        </div>

        <!-- Publication resources -->
        <div class="row mb-4">
          <div class="col-12">
            <h5>Publication & Related Resources</h5>
            <ul class="list-unstyled small"></ul>
          </div>
        </div>

        {% if publication.doi %}
          <h6>Published Article</h6>
          <ul class="list-unstyled small">
            <li><a href="https://doi.org/{{ publication.doi | strip }}" target="_blank">Published Article (DOI)</a></li>
          </ul>
        {% endif %}

        {% if publication.pdf %}
          <h6>Full Text (PDF)</h6>
          <ul class="list-unstyled small">
            <li><a href="{{publication.pdf}}" target="_blank">Full Text (PDF)</a></li>
          </ul>
        {% endif %}

        {% if publication.biorxiv or publication.biorxiv_version or publication.arxiv or publication.medrxiv %}
          <h6>Preprints</h6>
          <ul class="list-unstyled small">
            {% if publication.biorxiv %}
              <li>Biorxiv Preprint: <a href="http://dx.doi.org/10.1101/{{publication.biorxiv}}" target="_blank">{{publication.biorxiv | split: "." | last }}</a></li>
            {% endif %}
            {% if publication.biorxiv_version %}
              <li>Biorxiv Preprint v{{publication.biorxiv_version | split: "." | last | split: "v" | last }}: <a href="http://www.biorxiv.org/content/10.1101/{{publication.biorxiv_version}}" target="_blank">{{publication.biorxiv_version | split: "." | last | split: "v" | first }}</a></li>
            {% endif %}
            {% if publication.arxiv %}
              <li>arXiv Preprint: <a href="https://arxiv.org/abs/{{publication.arxiv}}" target="_blank">{{publication.arxiv}}</a></li>
            {% endif %}
            {% if publication.medrxiv %}
              <li>medRxiv Preprint: <a href="https://www.medrxiv.org/{{publication.medrxiv}}" target="_blank">{{publication.medrxiv}}</a></li>
            {% endif %}
          </ul>
        {% endif %}

        {% if publication.github or publication.data or publication.zenodo or publication.dryad or publication.figshare or publication.osf %}
          <h6>Data, Code & Software</h6>
          <ul class="list-unstyled small">
            {% if publication.github %}
              <li>
                GitHub Repositor{% if publication.github.size > 1 %}ies{% else %}y{% endif %}:
                {% if publication.github.size > 1 %}
                  {% for repo in publication.github %}
                    <a href="https://github.com/{{repo}}" target="_blank">{{repo}}</a>{% unless forloop.last %}, {% endunless %}
                  {% endfor %}
                {% else %}
                  <a href="https://github.com/{{publication.github}}" target="_blank">{{publication.github}}</a>
                {% endif %}
              </li>
            {% endif %}

            {% if publication.data %}
              <li>Online Dataset{% if publication.data.size > 1 %}s{% endif %}:
                {% if publication.data.size > 1 %}
                  <ul>
                    {% for dataset in publication.data %}
                      <li><a href="http://dx.doi.org/{{dataset}}" target="_blank">doi: {{dataset}}</a></li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <a href="http://dx.doi.org/{{publication.data}}" target="_blank">doi: {{publication.data}}</a>
                {% endif %}
              </li>
            {% endif %}

            {% if publication.zenodo %}
              <li>
                Zenodo Record{% if publication.zenodo.size > 1 %}s{% endif %}:
                {% for record in publication.zenodo %}
                  <a href="https://www.zenodo.org/record/{{record.code}}/" target="_blank">{{record.code}}</a>{% if record.description %} ({{record.description}}){% endif %}{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </li>
            {% endif %}

            {% if publication.dryad %}
              <li>Dryad Dataset{% if publication.dryad.size > 1 %}s{% endif %}:
                {% if publication.dryad.size > 1 %}
                  {% for dryad_doi in publication.dryad %}
                    <a href="https://doi.org/{{dryad_doi}}" target="_blank">doi: {{dryad_doi}}</a>{% unless forloop.last %}, {% endunless %}
                  {% endfor %}
                {% else %}
                  <a href="https://doi.org/{{publication.dryad}}" target="_blank">doi: {{publication.dryad}}</a>
                {% endif %}
              </li>
            {% endif %}

            {% if publication.figshare %}
              <li>Figshare Record{% if publication.figshare.size > 1 %}s{% endif %}:
                {% if publication.figshare.size > 1 %}
                  {% for fig in publication.figshare %}
                    <a href="https://doi.org/{{fig}}" target="_blank">doi: {{fig}}</a>{% unless forloop.last %}, {% endunless %}
                  {% endfor %}
                {% else %}
                  <a href="https://doi.org/{{publication.figshare}}" target="_blank">doi: {{publication.figshare}}</a>
                {% endif %}
              </li>
            {% endif %}

            {% if publication.osf %}
              <li>OSF Record{% if publication.osf.size > 1 %}s{% endif %}:
                {% if publication.osf.size > 1 %}
                  {% for osf_doi in publication.osf %}
                    <a href="https://doi.org/{{osf_doi}}" target="_blank">doi: {{osf_doi}}</a>{% unless forloop.last %}, {% endunless %}
                  {% endfor %}
                {% else %}
                  <a href="https://doi.org/{{publication.osf}}" target="_blank">doi: {{publication.osf}}</a>
                {% endif %}
              </li>
            {% endif %}
          </ul>
        {% endif %}

        {% if publication.pdbs or publication.emdbs or publication.paired_maps_and_models or publication.paired_maps_and_models_and_data %}
          <h6>Materials & Protocols</h6>
          <ul class="list-unstyled small">
            {% if publication.pdbs %}
              <li>Deposited Structure{% if publication.pdbs.size > 1 %}s{% endif %}:
                {% for code in publication.pdbs %}
                  <a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{code}}" target="_blank">{{code}}</a>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </li>
            {% endif %}

            {% if publication.emdbs %}
              <li>Deposited Map{% if publication.emdbs.size > 1 %}s{% endif %}:
                {% for code in publication.emdbs %}
                  <a href="http://www.ebi.ac.uk/pdbe/entry/emdb/EMD-{{code}}" target="_blank">{{code}}</a>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </li>
            {% endif %}

            {% if publication.paired_maps_and_models %}
              <li>Deposited Structure{% if publication.paired_maps_and_models.size > 1 %}s{% endif %} and Map{% if publication.paired_maps_and_models.size > 1 %}s{% endif %}:
                {% for pair in publication.paired_maps_and_models %}
                  <a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{pair.pdb}}" target="_blank">{{pair.pdb}}</a>/<a href="http://www.ebi.ac.uk/pdbe/entry/emdb/EMD-{{pair.emdb}}" target="_blank">{{pair.emdb}}</a>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </li>
            {% endif %}

            {% if publication.paired_maps_and_models_and_data %}
              <li>Deposited Structure{% if publication.paired_maps_and_models_and_data.size > 1 %}s{% endif %}, Map{% if publication.paired_maps_and_models_and_data.size > 1 %}s{% endif %}, and Data set{% if publication.paired_maps_and_models_and_data.size > 1 %}s{% endif %}:
                {% for pair in publication.paired_maps_and_models_and_data %}
                  <a href="http://www.rcsb.org/pdb/explore/explore.do?structureId={{pair.pdb}}" target="_blank">{{pair.pdb}}</a>/<a href="http://www.ebi.ac.uk/pdbe/entry/emdb/EMD-{{pair.emdb}}" target="_blank">{{pair.emdb}}</a>/<a href="https://empiar.org/{{pair.empiar}}/" target="_blank">{{pair.empiar}}</a>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </li>
            {% endif %}
          </ul>
        {% endif %}

        {% if publication.news_links %}
          <h6>News & Media Coverage</h6>
          <ul class="list-unstyled small">
          {% for news in publication.news_links %}
            <li><a href="{{ news.url }}" target="_blank">{{ news.title }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}

        {% if publication.additional_links and publication.additional_links.size > 0 %}
          <h6>Additional Resources</h6>
          <ul class="list-unstyled small">
          {% for link in publication.additional_links %}
              {% if link.url and link.name %}
                <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
              {% endif %}
          {% endfor %}
          </ul>
      {% endif %}

        <br>
      {% endfor %}

    </main>

    <!-- Optional right sidebar -->
    <aside class="col-xl-2 d-none d-xl-block">
      <!-- Future sidebar -->
    </aside>

  </div>
</div>
