<div class="container member-entry my-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="row">

        <!-- Left Column: Image + Info stacked vertically -->
        <div class="col-md-4 mb-3">
          <div class="d-flex flex-column align-items-center text-center h-100">

            <!-- Member Image -->
            <div class="mb-3">
              <img class="img-fluid rounded member-photo"
                   src="{{ include.member.image }}"
                   alt="{{ include.member.name }}"
                   {% if include.member.altimage %}
                     onmouseover="this.src='{{ include.member.altimage }}';"
                     onmouseout="this.src='{{ include.member.image }}';"
                   {% endif %}>
            </div>

            <!-- Metadata and Links -->
            <div class="member-info text-start w-100">
              <strong>{{ include.member.name }}</strong><br>

              {% if include.member.pronouns %}
                <em>{{ include.member.pronouns }}</em><br>
              {% endif %}

              {{ include.member.position | markdownify | remove: '<p>' | remove: '</p>' }}<br>

              {% if include.member.email %}
                <em>{{ include.member.email }}</em><br>
              {% endif %}

              {% if include.member.website %}
                <a href="{{ include.member.website }}" target="_blank" rel="noopener">{{ include.member.website }}</a><br>
              {% endif %}

              {% if include.member.orcid %}
                <a href="https://orcid.org/{{ include.member.orcid }}" target="_blank" rel="noopener">
                  <img class="inline-block mem-icon" src="/images/logo/ORCID_logo.png" alt="ORCID"> {{ include.member.orcid }}
                </a><br>
              {% endif %}

              {% if include.member.linkedin %}
                <a href="https://linkedin.com/in/{{ include.member.linkedin }}" target="_blank" rel="noopener">
                  <img class="inline-block mem-icon" src="/images/logo/LinkedIn_logo.png" alt="LinkedIn"> {{ include.member.linkedin }}
                </a><br>
              {% endif %}

              {% if include.member.scholar %}
                <a href="https://scholar.google.com/citations?user={{ include.member.scholar }}" target="_blank" rel="noopener">
                  <img class="inline-block mem-icon" src="/images/logo/GoogleScholar_logo.png" alt="Google Scholar"> Google Scholar
                </a><br>
              {% endif %}

              {% if include.member.github %}
                <a href="https://github.com/{{ include.member.github }}" target="_blank" rel="noopener">
                  <img class="inline-block mem-icon" src="/images/logo/github_logo.png" alt="GitHub"> {{ include.member.github }}
                </a><br>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- Right Column: Description -->
        <div class="col-md-8">
          <div class="member-description">
            {{ include.member.description | markdownify }}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

