/* Full width background color for nav bar */
.masthead,
.masthead__inner-wrap,
.masthead__menu,
#site-nav {
  background-color: #20b2aa !important;
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
}



/* force nav to full width */
.greedy-nav {
  width: 100%;
  box-shadow: none !important;
}


/* Nav links color */
#site-nav a {
  color: #ffffff !important;
}

/* Nav hover color */
#site-nav a:hover {
  color: #fffbf0 !important;
  text-decoration: underline;
}
