/* Navigation bar color */
#site-nav, .navbar, .navbar .container, .navbar .container-fluid {
  background-color: #20b2aa !important;
  border: none !important;
}

/* Link color */
#site-nav a {
  color: #ffffff !important;
}

#site-nav a:hover {
  color: #fffbf0 !important;
  text-decoration: underline;
}
